<html>
    <head>
        <title>SUSE's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">SUSE's blog</a></h1>
        </div>

        <div>
            <p>published: 07.10.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Keep calm and carry on ...</p>
        </div>

        <div>
            <p>published: 07.10.2017, 18:56</p>
            <h2><a href="">My second post</a></h2>
            <p>No Ash, No Bone, No Boode ...</p>
        </div>
    </body>
</html>
